<div class="grid-container">
    <div class="grid-item card mt-4">
        <h1>Welcome to Product Management Tool<h1>
    </div>
    <div class="grid-item card mt-4">
        <%= image_tag 'coloured_tiles.jpeg', alt: 'coloured_tiles', class: 'welcome-image' %>
    </div>
</div>